.button{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 1rem 1.5rem;
    background: var(--green);
    color: var(--white);
    width: fit-content;
}


.button i{
    color: var(--yellow);
    font-size: .9rem;
}