@import url(./icons.css);

:root{
    --bg: #242629; 
    --grey-ligth: #cfd6e3; 
    --grey-dark: #303c51; 
    --white: #ffffff; 
    --neutral: #62728f;                 
    --green: #196046; 
    --yellow: #ffe084; 
    --green-ligth: #469175; 
    --h1: 400 5rem/normal Inter; 
    --h2: 700 2.5rem/normal Inter; 
    --h3: semi bold 1.375rem/2.5rem Inter; 
    --body1-regular: 400 1.125rem/1.75rem Inter; 
    --body1-bold: 700 1.125rem/normal Inter; 
    --body1-regular: 400 0.875rem/1.75rem Inter; 
}

.icon{
    font-size: 3rem;
    color: red;
}