.testimonios{
    position: relative;
    z-index: 2;
    background: rgb(233 241 238 / 80%);
    padding-inline: 1.5rem;
    padding-block-start: 1.5rem;
    padding-block-end: 1.5rem;
    /* padding: ; */
    box-sizing: border-box;
}

.testimonio-botones{
    display: flex;
    position: absolute;
    inset-block-end: -30px;
    inset-inline-end: -60px;
    block-size: 60px;
}

.testomonios-contenido{
    display: grid;
    grid-template-areas: 
    "image info . rating"
    "txt txt txt txt";
}

.testimonios-contenido p {
  padding: 0;
  margin: 0;
}

.testimonioImg{
     grid-area: image;
     block-size: 60px;
     aspect-ratio: 1/1;
     border-radius: 50%;
     margin-inline-end: 1rem;
}

.testimonio-nombreycargo{
    grid-area: info;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.testimonioNombre{
    font: var(--h3);
    color: var(--grey-dark);
}

.testimonioCargo{
    font: var(body1-regular);
    color: var(--neutral);
}



.testimonioRating{
    grid-area: rating;
    padding: 0;
    margin: 0;
    align-self: center;
    color: var(--grey-dark);
    font-family: 'DM Sans', sans-serif;
    font-size: 1.25rem;
}

.testimonioRating i{
    color: var(--yellow);

}
.testimonioTexto{
    grid-area: txt;
    font: var(--body1-regular);
    color: var(--grey-dark);
    
}